%h1 ショッピングカート

%table.table
  %thead
    %tr
      %th 商品
      %th
      %th 価格
      %th 数量
      %th
      %th

  %tbody
    - @cart_products.each do |cart_product|
      %tr
        %td
          = link_to(cart_product.product) do
            = image_tag( cart_product.product.picture_path, class: :cart_product_img )
        %td
          = link_to(cart_product.product) do
            = cart_product.product.name
        %td= cart_product.product.price
        %td
          -#= cart_product.quantity
          = simple_form_for cart_product, method: :patch, remote: true do |f|
            = f.hidden_field :product_id, value: cart_product.product.id
            = f.input_field :quantity, { value: cart_product.quantity, class: 'cart-quantity-input' }
            = f.submit "変更を適用", class: 'btn btn-info btn-xs'

        -#%td= link_to 'Show', cart_product
        %td
          = link_to 'カートから外す', cart_product, :method => :delete,
            class: 'btn btn-info btn-xs',
            data: { confirm: '本当にカートから外してもよろしいですか？' }

%br

= link_to '商品一覧に戻る', :root
