%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#navbarEexample7", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "さくらマーケット【管理者】", root_path, { class: "navbar-brand" }
    #navbarEexample7.collapse.navbar-collapse
      %ul.nav.navbar-nav
        - if current_user
          -#%li
          -#  %a{:href => "#"} 日記を見る
          %li
            = link_to "商品マスター", :products
          %li
            = link_to "注文管理", :orders
          %li
            = link_to "ユーザー管理", :users

      -# navbar-rightを使っているので?、下に記述したアイテムの方が左に表示される
      %p.navbar-text.navbar-right
        - if current_admin
          = link_to "ログアウト", :admin_logout, method: :delete
          -#ようこそ
          -#%a.navbar-link{:href => "#"} ゲスト
          -#さん。
        - else
          = link_to "ログイン", :admin_login
