= simple_form_for(@order) do |f|
  = f.error_notification

  .form-inputs
    = f.association :user
    = f.input :order_datetime
    = f.input :send_to
    = f.input :date_to_deliver
    = f.input :time_range_to_deliver

  .form-actions
    = f.button :submit
