%h1 Listing orders

%table
  %thead
    %tr
      %th User
      %th Order datetime
      %th Send to
      %th Date to deliver
      %th Time range to deliver
      %th
      %th
      %th

  %tbody
    - @orders.each do |order|
      %tr
        %td= order.user
        %td= order.order_datetime
        %td= order.send_to
        %td= order.date_to_deliver
        %td= order.time_range_to_deliver
        %td= link_to 'Show', order
        %td= link_to 'Edit', edit_order_path(order)
        %td= link_to 'Destroy', order, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Order', new_order_path
