%h1 注文履歴

%table.table
  %thead
    %tr
      %th お届け先
      %th お届け先住所
      %th お届け日
      %th お届け希望時間帯
      %th
      %th
      %th

  %tbody
    - @orders.each do |order|
      %tr
        %td= order.send_to_name
        %td= order.send_to_address
        %td= order.delivery_date
        %td= order.delivery_time_range_string
        %td= link_to 'Show', order
        %td= link_to 'Edit', edit_order_path(order)
        %td= link_to 'Destroy', order, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Order', new_order_path
