%h1 注文履歴

%table.table
  %thead
    %tr
      %th 注文日
      %th 合計
      %th お届け先
      %th

  %tbody
    - @orders.each do |order|
      %tr
        %td= order.created_at.strftime("%Y年%m月%d日")
        %td= number_to_jpy(order.grand_total)
        %td= order.send_to_name
        %td= link_to '詳細', order

%br

  = link_to '商品一覧に戻る', :root
