.order_page-title
  %h1 注文内容を確認・変更する
  = link_to '注文を確定する', :orders, method: :post, class: 'btn btn-info'

.clearfix
  .col-xs-12.col-md-8.col-lg-8
    %table.table
      %thead
        %tr
          %th 商品
          %th
          %th 価格
          %th 数量
          %th
          %th

      %tbody
        - @order_products.each do |order_product|
          %tr
            %td
              = link_to(order_product.product) do
                = image_tag( order_product.product.picture_path, class: :order_product_img )
            %td
              = link_to(order_product.product) do
                = order_product.product.name
            %td= order_product.product.price
            %td
              = order_product.quantity
              -# 数量変更フォーム
              -#= simple_form_for order_product, method: :patch, remote: true do |f|
              -#  = f.hidden_field :product_id, value: order_product.product.id
              -#  = f.input_field :quantity, { value: order_product.quantity, class: 'cart-quantity-input' }
              -#  = f.submit "変更を適用", class: 'btn btn-info btn-xs'

            -# 注文から削除ボタン
            -#%td
            -#  = link_to '削除', order_product, :method => :delete,
            -#    class: 'btn btn-info btn-xs',
            -#    data: { confirm: '本当にカートから外してもよろしいですか？' }

  .col-xs-12.col-md-4.col-lg-4
    %h2 注文内容
    %div
      %div 商品の小計
      %div 配送料
      %div 注文の合計

    %div
      %div 代引き手数料について
      %div 配送料について


%br

= link_to '商品一覧に戻る', :root
