= form_for @order do |f|
  .order_page-title
    %h2 注文内容を確認・変更する
    -#= link_to '注文を確定する', :orders, method: :post, class: 'btn btn-info'
    = f.submit '注文を確定する', class: "btn btn-info"

  .clearfix
    .col-xs-12.col-sm-8.col-md-9.col-lg-9
      .panel.panel-default
        .panel-body
          %div
            %div
              %strong お届け先
              %button.btn.btn-link.btn-xs{ type: "button", onclick: "editSendToAddress()" } 変更

            %div#name-div= @user.name
            = f.hidden_field :send_to_name
            %div#address-div= @user.address
            = f.hidden_field :send_to_address
          %div
            %div
              %strong 支払い方法
            代引き
          %div
            %div
              %strong 配達時間
              %button.btn.btn-link.btn-xs{ type: "button", onclick: "editDeliveryTimeRage()" } 変更
            指定なし

      .panel.panel-default
        .panel-heading
          ご注文の商品

        .panel-body
          %table.table
            %tbody
              - @order.order_products.each do |op|
                = f.fields_for :order_products, op do |op_form|
                  %tr
                    = op_form.hidden_field :product_id, value: op.product.id
                    %td
                      = link_to(op.product) do
                        = image_tag(op.product.picture_path, class: :order_product_img )
                    %td
                      = link_to(op.product) do
                        = op.product.name
                    %td
                      = number_to_jpy(op.product.price)
                    %td
                      = "数量: #{op.quantity}"
                      = op_form.hidden_field :quantity
                      -# 数量変更フォーム
                      -#= simple_form_for order_product, method: :patch, remote: true do |f|
                      -#  = f.hidden_field :product_id, value: order_product.product.id
                      -#  = f.input_field :quantity, { value: order_product.quantity, class: 'cart-quantity-input' }
                      -#  = f.submit "変更を適用", class: 'btn btn-info btn-xs'

                    -# 注文から削除ボタン
                    -#%td
                    -#  = link_to '削除', order_product, :method => :delete,
                    -#    class: 'btn btn-info btn-xs',
                    -#    data: { confirm: '本当にカートから外してもよろしいですか？' }

    .col-xs-12.col-sm-4.col-md-3.col-lg-3
      .panel.panel-default
        .panel-heading
          注文内容
        .panel-body
          %table{ style: "width: 100%;"}
            %tbody
              %tr
                %td 商品の小計
                %td.order_currency
                  = number_to_jpy(@order.products_total)
              %tr
                %td 配送料
                %td.order_currency
                  = number_to_jpy(@order.postage)
              %tr
                %td 代引き手数料
                %td.order_currency
                  = number_to_jpy(@order.cod_fee)
              %tr
                %td 税
                %td.order_currency
                  = number_to_jpy(@order.tax)

              %tr
                %td{ colspan: 2 }
                  %hr.no-vertical-margin
              %tr
                %td.size-medium.colored-price
                  %strong ご請求金額
                %td.order_currency.size-medium.colored-price
                  %strong
                    = number_to_jpy(@order.grand_total)
        .panel-footer
          %div.size-small 代引き手数料について
          %div.size-small 配送料について

      %div{ style: "position:absolute; bottom:0;"}
        = f.submit '注文を確定する', class: "btn btn-info"

%br

= link_to '商品一覧に戻る', :root


#edit-address-modal.modal{ tabindex: "-1", role: "dialog", "aria-hidden" => "true"}
  .modal-dialog
    .modal-content

      .modal-header
        %button.close{ type: "button", data: { dismiss: "modal"} }
          %span &times;

        %h4.modal-title お届け先の編集

      .modal-body
        .field
          .form-group.string
            %label.control-label.string お名前
            %input#name-input.form-control.string{ type: "text"}
          .form-group.text
            %label.control-label.string 住所
            -#%textarea#address-textarea.form-control.text
            %input#address-input.form-control.string{ type: "text" }

      .modal-footer
        %button.btn.btn-primary{ onclick: "updateSendToAddress()" } OK
        %button.btn.btn-default{ type: "button", data: { dismiss: "modal" }} Cancel
