%h1 商品マスター

.clearfix
  = link_to '商品を追加する', :new_admin_product, class: "btn btn-info"

= paginate @products

%table.table
  %thead
    %tr
      %th ID
      %th 名前
      %th 写真
      %th 価格
      %th 可視
      %th 表示順

  %tbody
    - @products.each do |product|
      %tr
        %td= product.id
        %td= product.name
        %td= image_tag( product.picture_path, class: :product_image_small)

        %td= number_to_jpy(product.price)
        %td= product.is_visible
        %td= product.display_order

        %td= link_to '編集', edit_admin_product_path(product.id)
        %td= link_to '削除', admin_product_path(product.id), method: :delete, data: {confirm: "本当に削除しますか？"}

= paginate @products
