= simple_form_for([:admin, @user]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :email
    - if @user.new_record?
      = f.input :password
      = f.input :password_confirmation
    = f.input :address

  .form-actions
    = f.button :submit
