.row
  - @products.each do |product|
    = content_tag(:div, id: dom_id(product), class: "col-xs-6 col-md-4 col-lg-3") do
      -#= link_to(product, class: :thumbnail) do
      .thumbnail
        = link_to(product) do
          = image_tag( "/images/#{product.picture}", class: :product_img)
        .caption
          = link_to(product) do
            %h5.product_name= product.name
          %p
            = link_to "カートに入れる", cart_products_path(product.id), method: :post, remote: true, class: 'btn btn-info btn-xs'
