%p#notice= notice

%p
  %b Order:
  = @order_product.order
%p
  %b Product:
  = @order_product.product
%p
  %b Sales price:
  = @order_product.sales_price
%p
  %b Quantity:
  = @order_product.quantity

= link_to 'Edit', edit_order_product_path(@order_product)
\|
= link_to 'Back', order_products_path
